[general]

# import = ["./cappuccine-mocha.toml"]

live_config_reload = true
working_directory = "None"

[colors.primary]
background = "#151F2D"
foreground = "#BEBEBC"

# [colors.selection]
# text = "#151F2D"
# background = "#1E2E45"

[colors.normal]
black   = "#151F2D"
red     = "#d35a63"
green   = "#8ca64a"
yellow  = "#D89F5C"
blue    = "#7aa7d8"
magenta = "#C07035"
cyan    = "#AABFD9"
white   = "#BEBEBC"

[colors.bright]
black   = "#3A4555"
red     = "#d35a63"
green   = "#aad94c"
yellow  = "#D89F5C"
blue    = "#AABFD9"
magenta = "#C07035"
cyan    = "#7aa7d8"
white   = "#E0E0DE"

[colors.dim]
black   = "#151F2D"
red     = "#5F6C77"
green   = "#8ca64a"
yellow  = "#C07035"
blue    = "#5A6B85"
magenta = "#5F6C77"
cyan    = "#5A6B85"
white   = "#BEBEBC"

[colors.vi_mode_cursor]
text = "#151F2D"
cursor = "#FFB454"

# new
[colors.selection]
text = "#BEBEBC"
background = "#1F3350"

[colors.search]
matches = { foreground = "#151F2D", background = "#1E2E45" }
focused_match = { foreground = "#151F2D", background = "#BEBEBC" }

[colors.hints]
start = { foreground = "#151F2D", background = "#AABFD9" }
end   = { foreground = "#151F2D", background = "#7AA7D8" }

[terminal]
# osc52 = "Disabled" | "OnlyCopy" | "OnlyPaste" | "CopyPaste"
osc52 = "CopyPaste"

[cursor]
style = { blinking = "Always" }
blink_interval = 300
blink_timeout = 0   # 0 disables the timeout

[colors.cursor]
text = "#151F2D"
cursor = "#E7C547"

[debug]
log_level = "Off"
persistent_logging = false
print_events = false
render_timer = false

# transparency may not work with this enabled in linux
# prefer_egl = true

[env]

# infocmp -L alacritty alacritty-direct
TERM = "alacritty"

[font]
size = 23.0

[font.normal]

# family = "SF Mono Terminal"
# style = "Medium"

family = "Iosevka Custom"
style = "Medium Semi-Extended"

[font.italic]
family = "Iosevka Custom"
style = "Medium Semi-Extended"

#
[font.bold]
family = "Iosevka Custom"
style = "Bold Semi-Extended"

[font.offset]
x = 0
y = 2  # This creates the extra vertical space (height)

[font.glyph_offset]
x = 0
y = 0  # This moves the text UP to center it in that extra space

# https://www.reddit.com/r/neovim/comments/mbj8m5/how_to_setup_ctrlshiftkey_mappings_in_neovim_and/

[keyboard]
bindings = [
{  key  =  "-",         mods  =  "Command",        action  =  "DecreaseFontSize"   },
{  key  =  "=",         mods  =  "Command",        action  =  "IncreaseFontSize"   },
{  key  =  "A",         mods  =  "Command",        chars   =  "\u0001"             },
{  key  =  "Back",      mods  =  "Alt",            chars   =  "\u0017"             },
{  key  =  "Back",      mods  =  "Command",        chars   =  "\u0017"             },
{  key  =  "Back",      mods  =  "Control",        chars   =  "\u0017"             },
{  key  =  "W",         mods  =  "Command",        chars   =  "\u0017"             },
{  key  =  "B",         mods  =  "Command",        chars   =  "\u0002"             },
{  key  =  "C",         mods  =  "Command",        chars   =  "\u0003"             },
{  key  =  "D",         mods  =  "Command",        chars   =  "\u0004"             },
{  key  =  "E",         mods  =  "Command",        chars   =  "\u0005"             },
{  key  =  "F",         mods  =  "Command",        chars   =  "\u0006"             },
{  key  =  "F",         mods  =  "Command|Shift",  action  =  "ToggleFullscreen"   },
{  key  =  "G",         mods  =  "Command",        chars   =  "\u0007"             },
{  key  =  "H",         mods  =  "Command",        action   =  "ReceiveChar"             },
{  key  =  "H",         mods  =  "Command",        chars   =  "\u0008"             },
{  key  =  "H",         mods  =  "Command|Shift",  action  =  "SelectPreviousTab"  },
# {  key  =  "I",         mods  =  "Command",        chars   =  "\u0009"             },
{ key = "I", mods = "Command", chars = "\u001b[105;5u" },
{  key  =  "J",         mods  =  "Command",        chars   =  "\u000a"             },
{  key  =  "K",         mods  =  "Command",        chars   =  "\u000b"             },
{  key  =  "K",         mods  =  "Command|Shift",  chars   =  "\u000c"             },
{  key  =  "L",         mods  =  "Command",        chars   =  "\u000c"             },
{  key  =  "L",         mods  =  "Command|Shift",  action  =  "SelectNextTab"      },
{  key  =  "LBracket",  mods  =  "Command",  chars   =  "\u001b"   },
{  key  =  "N",         mods  =  "Command",  chars   =  "\u000e"   },
{  key  =  "M",         mods  =  "Command",  chars   =  "\u001bZ"  },
{  key  =  "O",         mods  =  "Command",  chars   =  "\u000f"   },
{  key  =  "P",         mods  =  "Command",  chars   =  "\u0010"   },
{  key  =  "Q",         mods  =  "Command",  action  =  "None"     },
{  key  =  "Q",         mods  =  "Command",  chars   =  "\u0011"   },
{  key  =  "Comma",     mods  =  "Control",  chars   =  "\u001b[44;5u"},
{  key  =  "R",         mods  =  "Command",  chars   =  "\u0012"   },
{  key  =  "T",         mods  =  "Command",  chars   =  "\u0014"   },
{  key  =  "Y",         mods  =  "Command",        chars   =  "\u0019"             },
# {  key  =  "Y",         mods  =  "Command",  Action   =  "ReceiveChar"   },
{  key  =  "RBracket",  mods  =  "Command",  chars   =  "\u001d"   },
{  key  =  "S",         mods  =  "Command",        chars   =  "\u0013"             },
{  key  =  "Slash",     mods  =  "Command",        chars   =  "\u001f"             },
{  key  =  "Backslash", mods  =  "Command",        chars   =  "\u001c"             },
{  key  =  "Space",     mods  =  "Command|Shift",  mode    =  "~Search",           action  =  "ToggleViMode"  },
{  key  =  "Space",     mods  =  "Command",        chars   =  "\u0000"             },
{  key  =  "V",         mods  =  "Command",  chars  =  "\u0016"              },
{  key  =  "V",         mods  =  "Command|Shift",  action  =  "Paste"              },
{  key  =  "V",         mods  =  "Control|Shift",  action  =  "Paste"              },
{  key  =  "W",         mods  =  "Command|Shift",  action  =  "Quit"               },
{  key  =  "X",         mods  =  "Command",        chars   =  "\u0018"             },
{  key  =  "Z",         mods  =  "Command",        chars   =  "\u001A"             },
{  key  =  "Key1",   mods  =  "Command",        chars   =  "\u001b1"            },
{  key  =  "Key2",   mods  =  "Command",        chars   =  "\u001b2"            },
{  key  =  "Key3",   mods  =  "Command",        chars   =  "\u001b3"            },
{  key  =  "Key4",   mods  =  "Command",        chars   =  "\u001b4"            },
{  key  =  "Key9",   mods  =  "Command",        chars   =  "\u001b1"            },
{  key  =  "Key0",   mods  =  "Command",        chars   =  "\u001b2"            },
{  key  =  "T",         mods  =  "Command|Shift",  action  =  "CreateNewTab"       },
]

[mouse]
hide_when_typing = true
bindings = [
  {  action  =  "PasteSelection",  mouse  =  "Middle"  }
]

[scrolling]
history = 5000
multiplier = 3

[selection]
save_to_clipboard = true

[terminal.shell]
args = ["--login"]
program = "/bin/zsh"

[window]
# decoration options: None, Transparent, Full, Buttonless
decorations = "Transparent"
dynamic_padding = true
# dynamic_title = false
# opacity = 0.90
# blur = true
# decorations_theme_variant = "Dark"

position = "None"
startup_mode = "Windowed"
option_as_alt = "both"

[window.dimensions]
columns = 82
lines = 28

[window.padding]
x = 0
y = 15

[hints]

[[hints.enabled]]
# regex = "https?://[^\\s]+"
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini://|gopher://|https?://|news:|file:|git://|ssh:|ftp://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
command = "open"
hyperlinks = true
post_processing = true
mouse.enabled   = true
