[general]

# import = ["./cappuccine-mocha.toml"]

live_config_reload = true
working_directory = "None"

[colors.primary]
background = "#141824"
foreground = "#CBCEBC"
dim_foreground = "#707a8c"
bright_foreground = "#ffffff"

[colors.cursor]
cursor = "#00f6ff"
text = "#141824"

[colors.vi_mode_cursor]
cursor = "#ff4057"
text = "#141824"

[colors.selection]
background = "#3d424d"
foreground = "#CBCEBC"

[colors.search.matches]
foreground = "#141824"
background = "#ffcc66"

[colors.search.focused_match]
foreground = "#141824"
background = "#ffd580"

[colors.footer_bar]
foreground = "#141824"
background = "#95e6cb"

[colors.hints.start]
foreground = "#141824"
background = "#ffcc66"

[colors.hints.end]
foreground = "#141824"
background = "#95e6cb"

[colors.normal]
black   = "#191e2a"
red     = "#ed8274"
green   = "#a6cc70"
yellow  = "#fad07b"
blue    = "#95e6cb"
magenta = "#cfbafa"
cyan    = "#95e6cb"
white   = "#c7c7c7"

[colors.bright]
black   = "#686868"
red     = "#f28779"
green   = "#bae67e"
yellow  = "#ffd580"
blue    = "#95e6cb"
magenta = "#d4bfff"
cyan    = "#95e6cb"
white   = "#ffffff"

[[colors.indexed_colors]]
index = 16
color = "#ffcc66"

[[colors.indexed_colors]]
index = 17
color = "#cfbafa"
[terminal]
# osc52 = "Disabled" | "OnlyCopy" | "OnlyPaste" | "CopyPaste"
osc52 = "CopyPaste"

[cursor]

[debug]
log_level = "Off"
persistent_logging = false
print_events = false
render_timer = false

# transparency may not work with this enabled in linux
# prefer_egl = true

[env]

# infocmp -L alacritty alacritty-direct
TERM = "alacritty"

[font]
size = 24.0

[font.normal]
# family = "SF Mono Terminal"
# style = "Medium"

family = "Iosevka Custom"
style = "Medium"

#
# family = "IosevkaTerm Nerd Font Mono"
# style = "SemiBold"
#
# [font.italic]
# family = "IosevkaTerm Nerd Font Mono"
# style = "SemiBold Oblique"
#
# [font.bold]
# family = "IosevkaTerm Nerd Font Mono"
# style = "Bold"

[font.offset]
x = 2
y = 11

# https://www.reddit.com/r/neovim/comments/mbj8m5/how_to_setup_ctrlshiftkey_mappings_in_neovim_and/

[keyboard]
bindings = [
{  key  =  "-",         mods  =  "Command",        action  =  "DecreaseFontSize"   },
{  key  =  "=",         mods  =  "Command",        action  =  "IncreaseFontSize"   },
{  key  =  "A",         mods  =  "Command",        chars   =  "\u0001"             },
{  key  =  "Back",      mods  =  "Alt",            chars   =  "\u0017"             },
{  key  =  "Back",      mods  =  "Command",        chars   =  "\u0017"             },
{  key  =  "Back",      mods  =  "Control",        chars   =  "\u0017"             },
{  key  =  "W",         mods  =  "Command",        chars   =  "\u0017"             },
{  key  =  "B",         mods  =  "Command",        chars   =  "\u0002"             },
{  key  =  "C",         mods  =  "Command",        chars   =  "\u0003"             },
{  key  =  "D",         mods  =  "Command",        chars   =  "\u0004"             },
{  key  =  "E",         mods  =  "Command",        chars   =  "\u0005"             },
{  key  =  "F",         mods  =  "Command",        chars   =  "\u0006"             },
{  key  =  "F",         mods  =  "Command|Shift",  action  =  "ToggleFullscreen"   },
{  key  =  "G",         mods  =  "Command",        chars   =  "\u0007"             },
{  key  =  "H",         mods  =  "Command",        action   =  "ReceiveChar"             },
{  key  =  "H",         mods  =  "Command",        chars   =  "\u0008"             },
{  key  =  "H",         mods  =  "Command|Shift",  action  =  "SelectPreviousTab"  },
# {  key  =  "I",         mods  =  "Command",        chars   =  "\u0009"             },
{ key = "I", mods = "Command", chars = "\u001b[105;5u" },
{  key  =  "J",         mods  =  "Command",        chars   =  "\u000a"             },
{  key  =  "K",         mods  =  "Command",        chars   =  "\u000b"             },
{  key  =  "K",         mods  =  "Command|Shift",  chars   =  "\u000c"             },
{  key  =  "L",         mods  =  "Command",        chars   =  "\u000c"             },
{  key  =  "L",         mods  =  "Command|Shift",  action  =  "SelectNextTab"      },
{  key  =  "LBracket",  mods  =  "Command",  chars   =  "\u001b"   },
{  key  =  "N",         mods  =  "Command",  chars   =  "\u000e"   },
{  key  =  "M",         mods  =  "Command",  chars   =  "\u001bZ"  },
{  key  =  "O",         mods  =  "Command",  chars   =  "\u000f"   },
{  key  =  "P",         mods  =  "Command",  chars   =  "\u0010"   },
{  key  =  "Q",         mods  =  "Command",  action  =  "None"     },
{  key  =  "Q",         mods  =  "Command",  chars   =  "\u0011"   },
{  key  =  "R",         mods  =  "Command",  chars   =  "\u0012"   },
{  key  =  "T",         mods  =  "Command",  chars   =  "\u0014"   },
{  key  =  "Y",         mods  =  "Command",        chars   =  "\u0019"             },
# {  key  =  "Y",         mods  =  "Command",  Action   =  "ReceiveChar"   },
{  key  =  "RBracket",  mods  =  "Command",  chars   =  "\u001d"   },
{  key  =  "S",         mods  =  "Command",        chars   =  "\u0013"             },
{  key  =  "Slash",     mods  =  "Command",        chars   =  "\u001f"             },
{  key  =  "Backslash", mods  =  "Command",        chars   =  "\u001c"             },
{  key  =  "Space",     mods  =  "Command|Shift",  mode    =  "~Search",           action  =  "ToggleViMode"  },
{  key  =  "Space",     mods  =  "Command",        chars   =  "\u0000"             },
{  key  =  "V",         mods  =  "Command",  chars  =  "\u0016"              },
{  key  =  "V",         mods  =  "Command|Shift",  action  =  "Paste"              },
{  key  =  "V",         mods  =  "Control|Shift",  action  =  "Paste"              },
{  key  =  "W",         mods  =  "Command|Shift",  action  =  "Quit"               },
{  key  =  "X",         mods  =  "Command",        chars   =  "\u0018"             },
{  key  =  "Z",         mods  =  "Command",        chars   =  "\u001A"             },
{  key  =  "Key1",   mods  =  "Command",        chars   =  "\u001b1"            },
{  key  =  "Key2",   mods  =  "Command",        chars   =  "\u001b2"            },
{  key  =  "Key3",   mods  =  "Command",        chars   =  "\u001b3"            },
{  key  =  "Key4",   mods  =  "Command",        chars   =  "\u001b4"            },
{  key  =  "Key9",   mods  =  "Command",        chars   =  "\u001b1"            },
{  key  =  "Key0",   mods  =  "Command",        chars   =  "\u001b2"            },
{  key  =  "T",         mods  =  "Command|Shift",  action  =  "CreateNewTab"       },
]

[mouse]
hide_when_typing = true
bindings = [
  {  action  =  "PasteSelection",  mouse  =  "Middle"  }
]

[scrolling]
history = 5000
multiplier = 3

[selection]
save_to_clipboard = true

[terminal.shell]
args = ["--login"]
program = "/bin/zsh"

[window]
# decoration options: None, Transparent, Full, Buttonless
decorations = "Transparent"
dynamic_padding = true
# dynamic_title = false
# opacity = 0.90
# blur = true
# decorations_theme_variant = "Dark"

position = "None"
startup_mode = "Windowed"
option_as_alt = "both"

[window.dimensions]
columns = 82
lines = 28

[window.padding]
x = 5
y = 5

[hints]

[[hints.enabled]]
# regex = "https?://[^\\s]+"
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini://|gopher://|https?://|news:|file:|git://|ssh:|ftp://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
command = "open"
hyperlinks = true
post_processing = true
mouse.enabled   = true
