[user]
    name = Lima, Jose
    email = 20385388+ono7@users.noreply.github.com
  	signingkey = 850FAC73

[gpg]
  program = gpg

[commit]
	gpgsign = true

[tag]
  gpgsign = true

[core]
  editor = nvim
  mergeoptions = --no-edit
	pager = delta
	hookspath = ~/.git_global/hooks
	untrackedCache = true
	fsmonitor = true

[http]
  sslVerify = false

[url "https://github.com/"]
  insteadOf = git://github.com/

[credential]
  helper = store

[init]
  defaultBranch = main
  templatedir = ~/.git_templates

[pull]
# requires git > 2.6
# `git rebase –abort` when we need to reset the changes
  rebase = true

[rebase]
  # Stash and pop uncommitted changes on rebase
  autostash = true
  autosquash = true
  updateRefs = true

[fetch]
  prune = true
  prunetags = true
  fsckobjects = true

[transfer]
  fsckobjects = true

[receive]
  fsckobjects = true

[branch]
  sort = committerdate

[merge]
  tool = nvimdiff4
  prompt = false
  conflictstyle = diff3

[mergetool "nvimdiff4"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[mergetool]
  keepBackup = false
  prompt = false

[push]
  autoSetupRemote = true

  # push only the default branch
  default = simple

[diff]
	colorMoved = default
  algorithm = patience

[color]
  ui = auto

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  wt = worktree
  unstage = reset HEAD --
  last = log -1 HEAD
  dv = "! args=$@; shift $#; nvim -c \"DiffviewOpen $args\""
  update-hooks = !cp -R ~/.git_templates/hooks/. .git/hooks/ && chmod +x .git/hooks/*

[interactive]
	diffFilter = delta --color-only

[status]
  # Show untracked files, directories and files in untracked directories
  showUntrackedFiles = all
  submoduleSummary = true

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true
    dark = true
    blame-palette = "#24273a #1e2030 #181926 #363a4f #494d64"
    commit-decoration-style = none
    file-decoration-style = none
    file-style = "#cad3f5"
    hunk-header-decoration-style = none
    hunk-header-file-style = bold
    hunk-header-line-number-style = bold "#a5adcb"
    hunk-header-style = file line-number syntax
    line-numbers-left-style = "#6e738d"
    line-numbers-minus-style = "#995a65"
    line-numbers-plus-style = "#5a7a54"
    line-numbers-right-style = "#6e738d"
    line-numbers-zero-style = "#6e738d"
    minus-emph-style = bold "#563f51"
    minus-style = "#ed8796"
    plus-emph-style = bold "#455450"
    plus-style = "#a6da95"
    map-styles = \
        bold purple => "#4d4569", \
        bold blue => "#3e4868", \
        bold cyan => "#3f5364", \
        bold yellow => "#575253"
    # Compact settings
    # side-by-side-width = 80
    # wrap-max-lines = 80
    # max-line-length = 80
    line-numbers-left-format = "{nm:>4}│"
    line-numbers-right-format = "{np:>4}│"
    whitespace-error-style = "#ff5555" reverse
