# basic gitignore

# Ignore all Conform callback temp files
.conform.*

__pycache__/
venv/
dlv/
enl-cache/
.emacs.d/straight/
build/
main
.aider/
.dbg_history
.pytest_cache/
fact_cache/
lazy-lock.json
.DS_Store
.virtualenvs
.vim
*.key
.netrwhist
.db
.env
env
tags
1.cfg
2.cfg
3.cfg
4.cfg
*.log
vtags
*.pyc
*.egg-info/
*.cache
priv/
vault.key
my_creds.py
profile.log
lazy-lock.json

ipython/.ipython/*
!ipython/.ipython/profile_default/
ipython/.ipython/profile_default/*
!ipython/.ipython/profile_default/ipython_config.py

.aider*
