extends todo


snippet h "header" b
  // ${1}
  #include <iostream>
  using namespace std;

  int main() {
    ${0}
    return 0;
  }

snippet co "cout" b
  std::cout << $0;

snippet ci "cout" b
  std::cin >> ${0};

snippet string "string" b
  std::string ${0};

snippet getline "string" b
  std::getline(${1:std::cin}, ${0});
