---
# vi: ft=yaml.ansible

- name: "Test"
  hosts: localhost
  # order: shuffle
  gather_facts: false
  # serial: 10

  tasks:
    - name: "Test --> show time"
      ansible.builtin.debug:
        msg: |
          {{ '%Y-%m-%d' | strftime }}
          ISO8601 - {{ '%Y-%m-%dT%H:%M:%S.%fZ' | strftime }}
