{
  "*.{yml,yaml}": "yamllint",
  "ansible/*.{yml,yaml}": "ansible-lint --offline",
  "!(node_modules/**/*)*.py": [
    "ruff check"
  ],
  "*.sh": [ "shellcheck -e SC1090 -e SC2164 -S warning -a -x" ]
}
